/node_modules
/public/hot
/public/storage
/public/card
/public/.user.ini
.user.ini
/public/storage*
/storage/*.key
/public/barcode
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.user.ini
